<div class="row">
	<div class="col-md-6">
		<h2>
			<div class="bg-info well-sm">
				Buy
				<div class="pull-right clearfix">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></button>
				</div>
			</div>
		</h2>


		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title">My Wish</span>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Wish 1</h3>
			</div>
			<div class="panel-body">

				<dl class="dl-horizontal">
					<dt>Date of Birth</dt>
					<dd></dd>
					<dt>Gender</dt>
					<dd>Male</dd>
					<dt>Email</dt>
					<dd>
						sam77liu@yahoo.com
					</dd>
					<dt>Alternate Email</dt>
					<dd>
					</dd>
					<dt>Day Phone</dt>
					<dd>214-274-9766</dd>
					<dt>Evening Phone</dt>
					<dd></dd>
					<dt>Mobile Phone</dt>
					<dd> <i></i></dd>
					<dt>Emergency Phone</dt>
					<dd>214-274-9766</dd>
					<dt>Address</dt>
					<dd>
						15592 Buffalo Creek Dr<br>
						Frisco, TX 75035
					</dd>
				</dl>

			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title">Houses In Discussion</span>
			</div>
		</div>

		<div class="panel-group" id="accordion">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
							<span class="badge">1</span> <span class="badge">$354,000.00</span><sup><span class="badge"> 4</span></sup><span class="pull-right">3400 SQFT</span>
						</a>
					</h4>
				</div>
				<div id="collapse1" class="panel-collapse collapse in">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
							<span class="panel-title"><span class="badge">2</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
						</a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							<span class="panel-title"><span class="badge">3</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
						</a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="panel-title">My Watching List</span>
			</div>
		</div>




		<div class="panel-group">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse2"><span class="panel-title"><span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span></a>
					</h4>
				</div>
				<div id="collapse2" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse3"><span class="panel-title"><span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span></a>
					</h4>
				</div>
				<div id="collapse3" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapse4"><span class="panel-title"><span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span></a>
					</h4>
				</div>
				<div id="collapse4" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="row">
							<div class="col-sm-4">
								<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

							</div>
							<div class="col-sm-2">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
							<div class="col-sm-3">
								<dl class="dl-horizontal">
									<dt>Bed Rm</dt>
									<dd>5</dd>
									<dt>Gender</dt>
									<dd>4</dd>
									<dt>Email</dt>
									<dd>5</dd>

								</dl>
							</div>
						</div>

						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="glyphicon glyphicon-plus"></i>More Details...
								</a>
							</h4>
						</div>

						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
							<div class="panel-body">
								<p>
									Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
									and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
								</p>
								<div class="col-md-4">Sub Division:</div>
								<div class="col-md-8"><strong>Hunters Creek</strong></div>
								<div class="col-md-4">Elementary:</div>
								<div class="col-md-8"><strong>John Smith Elementary </strong></div>
								<div class="col-md-4">Middle School:</div>
								<div class="col-md-8"><strong>John Smith Middle </strong></div>
								<div class="col-md-4">High School:</div>
								<div class="col-md-8"><strong>Centenial High </strong> </div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<a daya-toggle="collapse" href="#collapse1"><span class="panel-title"><span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span></a>
			</div>
			<div id="collapse1" class="panel-collapse ">
				<div class="panel-body">

					<div class="row">
						<div class="col-sm-4">
							<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

						</div>
						<div class="col-sm-2">
							<dl class="dl-horizontal">
								<dt>Bed Rm</dt>
								<dd>5</dd>
								<dt>Gender</dt>
								<dd>4</dd>
								<dt>Email</dt>
								<dd>5</dd>

							</dl>
						</div>
						<div class="col-sm-3">
							<dl class="dl-horizontal">
								<dt>Bed Rm</dt>
								<dd>5</dd>
								<dt>Gender</dt>
								<dd>4</dd>
								<dt>Email</dt>
								<dd>5</dd>

							</dl>
						</div>
					</div>

					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="glyphicon glyphicon-plus"></i>More Details...
							</a>
						</h4>
					</div>

					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
						<div class="panel-body">
							<p>
								Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
								and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
							</p>
							<div class="col-md-4">Sub Division:</div>
							<div class="col-md-8"><strong>Hunters Creek</strong></div>
							<div class="col-md-4">Elementary:</div>
							<div class="col-md-8"><strong>John Smith Elementary </strong></div>
							<div class="col-md-4">Middle School:</div>
							<div class="col-md-8"><strong>John Smith Middle </strong></div>
							<div class="col-md-4">High School:</div>
							<div class="col-md-8"><strong>Centenial High </strong> </div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">My Watching </h3>
			</div>
			<div class="panel-body">
				<div class="panel-group" id="accordion">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									<span class="panel-title"><span class="badge">1</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
								</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">

								<div class="row">
									<div class="col-sm-4">
										<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

									</div>
									<div class="col-sm-2">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
									<div class="col-sm-3">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
								</div>

								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<i class="glyphicon glyphicon-plus"></i>More Details...
										</a>
									</h4>
								</div>

								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
									<div class="panel-body">
										<p>
											Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
											and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
										</p>
										<div class="col-md-4">Sub Division:</div>
										<div class="col-md-8"><strong>Hunters Creek</strong></div>
										<div class="col-md-4">Elementary:</div>
										<div class="col-md-8"><strong>John Smith Elementary </strong></div>
										<div class="col-md-4">Middle School:</div>
										<div class="col-md-8"><strong>John Smith Middle </strong></div>
										<div class="col-md-4">High School:</div>
										<div class="col-md-8"><strong>Centenial High </strong> </div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
							</div>
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
									<span class="panel-title"><span class="badge">2</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
								</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">

								<div class="row">
									<div class="col-sm-4">
										<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

									</div>
									<div class="col-sm-2">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
									<div class="col-sm-3">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
								</div>

								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<i class="glyphicon glyphicon-plus"></i>More Details...
										</a>
									</h4>
								</div>

								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
									<div class="panel-body">
										<p>
											Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
											and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
										</p>
										<div class="col-md-4">Sub Division:</div>
										<div class="col-md-8"><strong>Hunters Creek</strong></div>
										<div class="col-md-4">Elementary:</div>
										<div class="col-md-8"><strong>John Smith Elementary </strong></div>
										<div class="col-md-4">Middle School:</div>
										<div class="col-md-8"><strong>John Smith Middle </strong></div>
										<div class="col-md-4">High School:</div>
										<div class="col-md-8"><strong>Centenial High </strong> </div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
							</div>
						</div>
					</div>
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
									<span class="panel-title"><span class="badge">3</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
								</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">

								<div class="row">
									<div class="col-sm-4">
										<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

									</div>
									<div class="col-sm-2">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
									<div class="col-sm-3">
										<dl class="dl-horizontal">
											<dt>Bed Rm</dt>
											<dd>5</dd>
											<dt>Gender</dt>
											<dd>4</dd>
											<dt>Email</dt>
											<dd>5</dd>

										</dl>
									</div>
								</div>

								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<i class="glyphicon glyphicon-plus"></i>More Details...
										</a>
									</h4>
								</div>

								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
									<div class="panel-body">
										<p>
											Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
											and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
										</p>
										<div class="col-md-4">Sub Division:</div>
										<div class="col-md-8"><strong>Hunters Creek</strong></div>
										<div class="col-md-4">Elementary:</div>
										<div class="col-md-8"><strong>John Smith Elementary </strong></div>
										<div class="col-md-4">Middle School:</div>
										<div class="col-md-8"><strong>John Smith Middle </strong></div>
										<div class="col-md-4">High School:</div>
										<div class="col-md-8"><strong>Centenial High </strong> </div>
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-6">
		<h2>
			<div class="bg-warning well-sm">
				Sell

				<div class="pull-right clearfix">
					<small><a href="#"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a></small>
				</div>
			</div>
		</h2>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="panel-title"> My Houses In Sale</span>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						<span class="panel-title"><span class="badge">1</span> <span class="badge badge-warning">$354,000.00</span></span><span class="pull-right">3400 SQFT</span>
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse in">
				<div class="panel-body">

					<div class="row">
						<div class="col-sm-4">
							<img src="~/Content/images/house1.jpg" class="img-thumbnail" />

						</div>
						<div class="col-sm-2">
							<dl class="dl-horizontal">
								<dt>Bed Rm</dt>
								<dd>5</dd>
								<dt>Gender</dt>
								<dd>4</dd>
								<dt>Email</dt>
								<dd>5</dd>

							</dl>
						</div>
						<div class="col-sm-3">
							<dl class="dl-horizontal">
								<dt>Bed Rm</dt>
								<dd>5</dd>
								<dt>Gender</dt>
								<dd>4</dd>
								<dt>Email</dt>
								<dd>5</dd>

							</dl>
						</div>
					</div>

					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<i class="glyphicon glyphicon-plus"></i>More Details...
							</a>
						</h4>
					</div>

					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="max-height:100px; overflow-y:auto">
						<div class="panel-body">
							<p>
								Description ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS,
								and JavaScript. It's now easier than ever before to getting started writing highly interactive web applications.Learn more »
							</p>
							<div class="col-md-4">Sub Division:</div>
							<div class="col-md-8"><strong>Hunters Creek</strong></div>
							<div class="col-md-4">Elementary:</div>
							<div class="col-md-8"><strong>John Smith Elementary </strong></div>
							<div class="col-md-4">Middle School:</div>
							<div class="col-md-8"><strong>John Smith Middle </strong></div>
							<div class="col-md-4">High School:</div>
							<div class="col-md-8"><strong>Centenial High </strong> </div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<span><span style="width:18px; height:25px; margin-left:10px;"><span class="glyphicon glyphicon-map-marker"></span></span><span>12345 McDermontt Rd Allen 75234h</span> 18<span>m</span> 00<span>s</span></span>
				</div>
			</div>
		</div>
	</div>
	<a class="btn btn-success" href="#success" data-toggle="modal"><h4><i class="glyphicon glyphicon-eye-open"></i> Success</h4></a>
	<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header modal-header-success">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h1><i class="glyphicon glyphicon-thumbs-up"></i> Success Modal</h1>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-info">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"><i class="glyphicon glyphicon-pencil"></i> Add Your Wish House</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="control-label">Price Range:</label>
							<input type="text" class="form-control" id="price-range">
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Message:</label>
							<input type="text" class="slider form-control" value="" data-bind="sliderValue:{value: selectedV, min:100000, max: 2000000, step: 10000, tooltip: 'always'}" />
							<p>Selected value: <b data-bind="text: myHometown">A</b></p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" data-bind="click: post">Post</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--ko compose: 'viewmodels/wish'-->
<!--/ko -->